.mainForm {
  display: flex;
  flex-direction: column;
}
.formContainer h3 {
  width: 100%;
  text-align: center;
  text-decoration: solid;
  padding-bottom: 20px;
}

.formContainer button {
  align-self: end;
  width: 100px;
  height: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  background-color: black;
  color: whitesmoke;
  border-radius: 8px;
  margin-left: 10px;
}
.formContainer button:hover {
  background-color: whitesmoke;
  color: black;
}

.formContainer {
  margin: 10%;
}
