<div class="formContainer">
  <h2>Certification Details Form</h2>
  <form [formGroup]="certificateForm">
    <div class="mainForm" style="text-align: center">
      <mat-form-field appearance="outline">
        <mat-label>Certification Provider</mat-label>
        <mat-select formControlName="certificationProvider">
          <mat-option
            value="Amazon Web Service(AWS)"
            (onSelectionChange)="onOther('aws')"
            >Amazon Web Service</mat-option
          >
          <mat-option
            value="Google Cloud Platform(GCP)"
            (onSelectionChange)="onOther('gcp')"
            >Google Cloud Platform</mat-option
          >
          <mat-option
            value="Microsoft Azure"
            (onSelectionChange)="onOther('azure')"
            >Microsoft Azure</mat-option
          >
          <mat-option (onSelectionChange)="onOther('Other')" value="Other"
            >Other</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Certification Level</mat-label>
        <mat-select formControlName="certificationLevel" *ngIf="isLevel">
          <mat-option value="Foundational" (onSelectionChange)="onSelect('f')"
            >Foundational</mat-option
          >
          <mat-option value="Associate" (onSelectionChange)="onSelect('a')"
            >Associate</mat-option
          >
          <mat-option value="Professional" (onSelectionChange)="onSelect('p')"
            >Professional</mat-option
          >
        </mat-select>
        <input
          type="text"
          name="certificationLevel"
          placeholder="Level of Certification"
          matInput
          formControlName="certificationLevel"
          *ngIf="isOther"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="isList">
        <mat-label>Certification Name</mat-label>
        <input
          type="text"
          name="certificationName"
          placeholder="Name of Certification"
          matInput
          formControlName="certificationName"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="isLevel">
        <mat-label>Certification Name</mat-label>
        <mat-select formControlName="certificationName">
          <mat-option
            *ngFor="let certificate of Certificates"
            value="{{ certificate }}"
          >
            {{ certificate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Certification Id</mat-label>
        <input
          type="text"
          name="certificateId"
          placeholder="Certification ID"
          matInput
          formControlName="certificateId"
        />
      </mat-form-field>
    </div>

    <div class="dateContainer">
      <mat-form-field appearance="outline">
        <mat-label>Date of Certification</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="dateOfCertification"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Expiry Date of Certificate</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfExpiry"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="dateContainer" *ngIf="isService">
      <mat-form-field appearance="outline">
        <mat-label>SBU</mat-label>
        <mat-select formControlName="sbu" *ngIf="isSBUoptions">
          <mat-option value="Banking">Banking</mat-option>
          <mat-option value="Finance">Finance</mat-option>
          <mat-option value="Insurance">Insurance</mat-option>
          <mat-option value="Health Care">Health Care</mat-option>
          <mat-option (onSelectionChange)="sbuOther()">Other</mat-option>
        </mat-select>
        <input
          *ngIf="isInput"
          type="text"
          name="sbu"
          matInput
          formControlName="sbu"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SL</mat-label>
        <mat-select formControlName="sl" *ngIf="isSLoptions">
          <mat-option value="Cloud">Cloud</mat-option>
          <mat-option value="Digital">Data</mat-option>
          <mat-option value="Testing">Testing</mat-option>
          <mat-option value="UX">UX</mat-option>
          <mat-option (onSelectionChange)="slOther()">Other</mat-option>
        </mat-select>
        <input
          *ngIf="isInput"
          type="text"
          name="sl"
          matInput
          formControlName="sl"
        />
      </mat-form-field>
    </div>
  </form>
  <button mat-fab color="warn" mat-dialog-close>Close</button>
  <button mat-fab color="primary" (click)="onSubmitCertificate()">
    {{ actionbtn }}
  </button>
</div>
