.example-form{
    display: flex;
    flex-direction: row;
  }


.button{
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: black;
    color: whitesmoke;
    border-radius: 8px;
    margin-left: 10px;
}

.button:hover{
    background-color: whitesmoke;
    color: black;
}