.mat-toolbar{
    background-color: black;
}

.example-spacer {
    flex: 1 1 auto;
   
  }

.example-icon{
    background-color: black;
    color: whitesmoke;
    margin-right: 10px;
}

.example-icon:hover{
    background-color: whitesmoke;
    color: black;
}

.example-container{
    height: 100%;
}